#poweredBy{
	background-color:whitesmoke ;
	padding: 1em 0em 1em 0em;
	border-radius: 0.5em;
}
#poweredBy:hover{
	background-color: #fff ;
}
.hrtag {
    border-bottom: 1px solid;
    border-color: #1b6d85;
}

h2, h3, h4 {
	font-family: 'times new roman';
}

.pagination a {
	padding: 5px;
}
a{
	text-decoration: none;
}

/*header Section*/
.welco p {
	margin-left: 9px;
	padding-top: 14px;
	font-size: 16px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
}
.welco img{}
.logbtn .btn{
	margin-top:10px;
}
.headerSection{}
.headerSection h1 {
	color: #555;
}
.headerSection p {
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	color: #777;
}

.show-custom {
	background: #ddd;
	padding: 25px 0;
}
.img-circle {
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0px 0px 21px 1px #333;
}
.nav{
	border-right:1px solid aliceblue;
}

/*footer */
.footer {
    background: #444444;
    color: #fff;
    margin-top:50px;
}
.footer .footer-content {
	padding: 30px 0;
	font-size: 12px;
}
.footer .footer-content .footer-col .footer-col-inner {
	padding: 0 15px;
}
.footer-col-inner {
	margin-bottom: 15px;
}
.footer ul {
	padding-left: 0;
}
.footer li {
	list-style: none;
}
.footer .footer-content .footer-col li {
	margin-bottom: 10px;
	font-size: 12px;
}
.footer .footer-content .footer-col a {
	color: #dcdcdc;
}
.footer .footer-content .footer-col .fa {
	margin-right: 10px;
	display: inline-block;
	color: #767676;
}
.makeBold {
	font-weight: bold;
	text-transform: uppercase;
}
.footer p {
	color: #dcdcdc;
}
.footer .bottom-bar {
	background: #2b2b2b;
	padding: 5px 0;
}
.footer .bottom-bar .copyright {
	font-size: 12px;
	font-weight: bold;
	color: #dcdcdc;
	line-height: 3;
}
.copyrightSclName {
	color: #6091BA;
}
.visitorCount {
	color: #6091BA !important;
}



/*  log in page */
.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
	max-width: 420px;
	padding: 30px 38px 66px;
	margin: 0 auto;
	background-color: #eee;
	border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
	text-align:center;
	margin-bottom: 30px;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

input[type="text"] {
	margin-bottom: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.colorgraph {
	height: 7px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}



