.glyphicon.glyphicon-folder-open {
    font-size: 50px;
    color: #ce7d07;
}
.glyphicon.glyphicon-file{
    font-size: 50px;
    color: #bd3838;
}
.glyphicon.glyphicon-picture{
    font-size: 50px;
    color: #191313;
}
.glyphicon.glyphicon-duplicate{
    font-size: 50px;
    color: #191313;
}

.folder{
    background: #fff;
}
.folder{
    float: left;
    padding: 5px;
    margin-left: 48px;
    margin-top: 22px;
}
.link_li{
    float: left;
    padding: 1px;
    background: #080808;;
    border: 3px;
    margin-right: 10px;
    color: white
}
.disable{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}
.display_none{
    display: none;
}
#docs tbody tr:hover{
    background: #a7e6ef;
    border-left: 5px solid green;
}
.path{
    height: 30px;
    background: #9e9e9e54;
}
